@import '../../../variables/variables.scss';

button{
    @include btn;
}

.save{
    background-color:$green;
    color: #fff;
}

.delete{
    background-color: $red;
    color: #fff;
}

.primary{
    background-color:$primary;
    color: #fff;
}